.services {
    padding: 120px 0 100px;
    text-align: center;

    &__subtitle {
        font-size: 16px;
        font-weight: 500;
        color: $text-blue;
        margin-bottom: 5px;
    }

    &__title {
        font-size: 38px;
        font-weight: 400;
        margin-bottom: 30px;
        color: $text-black;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    &__item {
        width: calc(100% / 3);
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__img {
        margin-bottom: 20px;

        & > img {
            margin: 0 auto;
        }
    }

    &__item-title {
        font-size: 20px;
        font-weight: 700;
        color: $text-dark-blue;
        margin-bottom: 5px;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
        color: $text-black;
    }
}